<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Simon Bushell</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/" id="siteTitle"><h1>Dr Simon Bushell</h1></a>
        <p>Postdoctoral Research Scientist<br>
        Structural Genomics Consortium<br>
        University of Oxford, UK</p>

        <p><a href="/blog">Blog</a><br>
        <a href="http://www.twitter.com/drsimonbushell">Twitter</a><br>
        <a href="https://github.com/simonbushell">GitHub</a><br>
        <a href="http://www.linkedin.com/profile/view?id=140225746">LinkedIn</a></p>

        <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=bushell+%2Bsr">PubMed</a><br>
        <a href="http://scholar.google.co.uk/citations?user=YS9IQ8sAAAAJ&hl=en">Google Scholar</a></p> 
      
        <img class="dropShadow" src="/images/profile.png">
      </header>
      <section>
      {{ content }}
      </section>
  </body>
  
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38975663-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>